 <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" ng-controller="navbarController as NC">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="navtitle" href="/" ng-click="NC.backHome()">Plenty of Felines</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="/#cats/admin">ADMIN</a></li>
          </ul>
        </div>
      </div>
    </nav>  


<div class="row" id="welcome-text" style="padding-top: 60px;">
  <div class="col-md-offset-2 col-md-8 col-sm-12">
    <h2 class="welcome-title"><span class="titlebrand">Plenty of Felines</span></h2>
    <div style="text-align: center;">
      <h2>Admin Delete Page</h2>
    </div>
  </div>
</div>

<div class="row" style="text-align: center;">
  <div class="col-md-offset-4 col-md-4 col-sm-12" style="text-align: center;">
    <img class="catpics" src="{{AC.cat.photo}}"/>
      <h2>Are you sure you want to delete {{AC.cat.name}}? </h2>
      <button class="btn btn-danger">Yes, Delete {{AC.cat.name}}</button>
      <button class="btn btn-success"> No, go back to the Admin Page</button>
  </div>
</div>