<div class="row" id="welcome-text">
  <div class="col-md-offset-2 col-md-8 col-sm-12">
    <h2 class="welcome-title"><span class="titlebrand">Plenty of Felines</span></h2>
    <div style="text-align: center;">
      <h2>Admin Update Page</h2>
    </div>
  </div>
</div>

 <div class="row" style="margin: auto;">
  <div class="col-md-8 col-md-offset-2 col-sm-12" style="text-align: center;">
    <h1>Update Name: {{AC.cat.name}}</h1>
    <h1>Update Photos: </h1>
    <h1>Update Age: </h1>
    <h1>Update Description: </h1>
    <h1>Update Medical: </h1>
    <h1>Update ...</h1>
  </div>
</div>
