 <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" ng-controller="navbarController as NC">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="navtitle" href="#/" ng-click="NC.backHome()">Plenty of Felines</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="/#cats/admin">ADMIN</a></li>
          </ul>
        </div>
      </div>
    </nav>  


<div class="row" id="welcome-text" style="padding-top: 60px;">
  <div class="col-md-offset-2 col-md-8 col-sm-12">
    <h2 class="welcome-title"><span class="titlebrand">Plenty of Felines</span></h2>
    <div style="text-align: center;">
      <h2>Admin Edit Page</h2>
    </div>
  </div>
</div>

<div class="row" style="text-align: center;">
  <div class="col-md-offset-4 col-md-4 col-sm-12" style="text-align: center;">
    <img class="catpics" src="{{AC.cat.photo}}"/>
      <h2>Edit {{AC.cat.name}}: </h2>
        <div class="form-group">
          <form name="updatecatForm">

            <h4>Name:</h4>
            <input type= "text" placeholder="{{AC.cat.name}}" name="name" ng-model="AC.name">
            <h4>Petango ID:</h4>
            <input type= "text" name="id" placeholder="{{AC.cat.FCCRSNC_id}}" ng-model="AC.id">
            <h4>Photos:</h4>
            <input type= "text" name= "photo" placeholder="URL" style="width: 350px;" ng-model="AC.photo">
            <h4>Photos:</h4>
            <input type= "text" name= "photo2" placeholder="URL" style="width: 350px;" placeholder="URL" ng-model="AC.photo2">
            <h4>Photos:</h4>
            <input type= "text" name= "photo3" placeholder="URL" style="width: 350px;" placeholder="URL" ng-model="AC.photo3">
            <h4>Color:</h4>
            <input type= "text" name= "color" style="width: 80px;" placeholder="{{AC.cat.color}}" ng-model="AC.color">
            <h4>Age:</h4>
            <input type= "text" name= "age" style="width: 40px;" placeholder="{{AC.cat.age}}" ng-model="AC.age">
            <h4>Medical Issue: </h4>
            <input type= "text" name="medical" style="width: 60px;" placeholder="{{AC.cat.medical_issue}}" ng-model="AC.medical">
            <h4>Good With Cats: </h4>
            <input type= "text" name="good_cats" style="width: 60px;" placeholder="{{AC.cat.good_with_cats}}" ng-model="AC.good_cats">
            <h4>Good With Dogs:</h4>
            <input type= "text" name="good_dogs" style="width: 60px;" placeholder="{{AC.cat.good_with_dogs}}" ng-model="AC.good_dogs">
            <h4>Good With Kids: </h4>
            <input type= "text" name="kids" style="width: 60px;" placeholder="{{AC.cat.good_with_kids}}" ng-model="AC.kids">
            <h4>Good With Other: </h4>
            <input type= "text" name="other" style="width: 60px;" placeholder="{{AC.cat.good_with_other}}" ng-model="AC.other">
            <h4>Atmosphere Needed:</h4>
            <input type= "text" name="atmos" style="width: 60px;" placeholder="{{AC.cat.atmosphere_needed}}" ng-model="AC.atmos">
            <h4>Description:</h4>
            <textarea name= "information" rows="12" columns="10" style="width: 350px;" placeholder="{{AC.cat.general_characteristics}}" ng-model="AC.info"></textarea>
            <h4>Summary:</h4> 
            <textarea name ="summary" rows="7" style="width: 350px;" placeholder="{{AC.cat.summary}}" ng-model="AC.summary"></textarea>
            <br>
            <br>
            <button class="btn btn-warning" ng-click="AC.updateCat(cat.id)" data-toggle="modal" data-target="#myModal">Update {{AC.cat.name}}!</button>
            <br>
        </form>
      </div>
    </div>
</div>
<div class="row" style="margin-bottom: 100px;">
</div>

<!-- **** MODAL FOR DELETE BUTTON **** -->

  <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p><h4 class="modal-title" style="text-align: center;">Well Done!</h4></p>
          </div>
          <div class="modal-body">
            <p>Update Complete</p>
            <button class="btn btn-default" ng-click="AC.toAdmin()">Back to Admin</button>
            <br>
            <br>
          </div>
        </div>
      </div>
   </div>


<div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted"><p class="title-subtext" style="text-align: center;">Find Your Purrfect Feline Friend</p></p>
      </div>
   </div>