 <div class="row" style="margin: auto;">
  <div class="col-md-8 col-md-offset-2 col-sm-12" style="text-align: center;">
    <h1>{{AC.cat.name}}</h1>
    <div class="carousel__container">
      <div class="carousel__item">
        <img src="{{AC.cat.photo}}" class="carousel__image">
      </div>
      <div class="carousel__item">
        <img src="{{AC.cat.photo2}}" class="carousel__image">
      </div>
      <div class="carousel__item">
        <img src="{{AC.cat.photo3}}" class="carousel__image">
      </div>
    </div>
  </div>
</div> 
<br>
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12" style="text-align: center; margin-top: 30px;">
  <p>{{AC.cat.general_characteristics}}</p>
  </div>
</div>
 
 <div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12" style="text-align: center; margin-top: 30px;">
  <button class="btn btn-warning" ng-click="AC.backtoMatches()">Back to Matches</button>
  </div>
</div>


