<div class="conatiner-fluid bigpic body"> 
    <div class="row" style="height: 700px;">
        <div class="col-md-12 col-sm-12">
          <h1 class="title-index" style="text-align: center;">Plenty of Felines</h1>
        </div>
  


  <!-- FIXED NAVBAR AT BOTTOM-->
   
  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#"><p class="title-subtext">Find Your Purrfect Feline Friend</a></p> -->
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <p class="title-subtext" style="text-align: center;">Find Your Purrfect Feline Friend<a class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">Enter</a></p>

        </div>
        <!-- /.navbar-collapse -->
    </div>
  </nav>
  
<!-- END MOBILE NAVBAR -->


<!-- Page Content -->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
             <h1 class="title-index" style="text-align: center;">Plenty of Felines</h1>

        </div>
    </div>
</div> -->


<!-- ==========MODAL START HERE=============== -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"  aria-label="Close" aria-hidden="true"><span aria-hidden="true"></span></button>
            <p><h4 class="modal-title" style="text-align: center;">Sign In</h4></p>
            <br>
            <p style="margin-left: 50px;">
            <input type="text" class="textboxentry" name="email" placeholder="Email" ng-model="SC.email">
            <input type="text" class="textboxentry" name="password" placeholder="Password" ng-model="SC.password"> 
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="SC.signin(SC.email, SC.password)">Sign in</button>
            <img class="homecat" src="assets/img/blackcat.png" style="margin-left:170px; margin-top: 10px; margin-bottom: 20px;"></p>
            <p style="text-align: center; font-size: 18px;">Not registered with Plenty of Felines yet?</p> 
            <p><button class="btn btn-info" data-dismiss="modal" ng-click="SC.joinEnter()" style="margin-left: 153px;">Register here to save your matches!</button></p>

          </div>

          <div class="modal-body">
            <p><h4 class="modal-body-text" style="text-align: center;">Continue as a Guest  </h4></p><button type="button" class="btn btn-warning" data-dismiss="modal" style="margin-left: 25px;" ng-click="SC.guestEnter()">Enter</button>
        <!--   <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
          </div> -->
          </div>
        </div>
      </div>
    </div>

<!-- ==================END MODAL HERE================= -->

  </div>
</div>

