<div class="row" style="padding-top: 60px;">
  <div class="col-md-12 col-sm-12" style="text-align: center;">
  <h2 class="welcome-title" style="padding-bottom: 30px;">Your <span class="titlebrand">Plenty of Felines</span> Matches</h2>
  </div>
</div>

<div class="row" id="welcome-text">
  <div class="col-md-12 col-sm-12 panel panel-warning" id="allcats" ng-repeat="cat in MAC.topFive" style="text-align: center; border: none;">
    <div class="panel-heading">
      <h2><a href="/cats/{{cat.id}}">{{cat.name}}</a></h2>
    </div>
    <div class="panel-body">
      <p><a href="/cats/{{cat.id}}"><img class="catpics" src="{{cat.photo}}"/></a></p>
      <p>Age: {{cat.age}}</p>
      <p>{{cat.name}} is {{cat.color}} in color, is a {{cat.hair}}, and is {{cat.gender}}.</p>
      <p><strong>About {{cat.name}}:</strong></p>
      <p style="margin-left: 25%; margin-right: 25%;">{{cat.summary}}</p>
      <p><a href="/cats/{{cat.id}}">More...</a></p>
    </div>
  </div>
</div>



<br>
<br>
<div class="row" style="text-align: center;">
  <div class="col-md-12 col-sm-12">
    <button class="btn btn-warning" style="margin-bottom: 130px;" ng-click="MAC.getAll()">See ALL Adoptable Cats</button>
  </div>
</div>