    <div class="row" id="welcome-text">
      <div class="col-md-offset-2 col-md-8 col-sm-12">
        <h2 class="welcome-title">Welcome!</h2>
        <p><span class="microbrand">Plenty of Felines</span> is a matchmaking service for adoptable cats and the humans looking to give them forever homes. We match cats with people by looking specifically at cats' characteristics and needs and matching those with the information we obtain when users fill out our short questionnaire.</p>
        <p>Once you've filled out the questionnaire, we will give you a list of cats who we think could be your favorite new companions. All available cats are from the <a href="https://www.fccrsnc.org/" target="_blank">Fort Collins Cat Rescue</a>, and you can visit your matches anytime at their facility on E. Mulberry.</p>
        <h3>If you want to save your matches, please first <a href="/#/users"><strong>register</strong></a> for <span class="parabrand">Plenty of Felines</span>.</h3>
        <p>You will receive no emails at all from us, since this project is volunteer-run!</p>
        <h3>If you'd like to continue to the questionnaire as a Guest, click below (your matches will not be saved).</h3>
        <br>
        <div class="text-center">
        <button class="btn btn-default" ng-click="QC.openQuestions(); addGuest()">Take the Questionnaire as a Guest</button> 
        </div>
        <h2 id="thanks" style="text-align: center;">Thank you for adopting homeless cats!</h2>
      </div>
    </div>

