   <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"  aria-label="Close" aria-hidden="true"><span aria-hidden="true"></span></button>
            <p><h4 class="modal-title" style="text-align: center;">Question 1</h4></p>
            <br>
            <p style="text-align: center;">Would you like a specifc gender?</p>

          </div>

          <div class="modal-body" style="margin-left: 150px;">
            <button ng-click="QC.holdingService.answerdata('male')" ng-model="QC.question1data.male" type="button" class="btn btn-success" data-dismiss="modal">Male</button>
            <button ng-click="QC.holdingService.answerdata('female')" ng-model="QC.question1data.female" type="button" class="btn btn-success" data-dismiss="modal">Female</button>
            <button ng-click="QC.holdingService.answerdata('any-gender')" ng-model="QC.question1data.any" type="button" class="btn btn-success" data-dismiss="modal">I'd love either!</button>
            <br>
            <br>
            <span style="text-align: center;" ng-bind="QC.message"></span>
        <!--   <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
          </div> -->
          </div>
        </div>
      </div>

    </div>