<div class="row" id="welcome-text">
  <div class="col-md-offset-2 col-md-8 col-sm-12">
    <h2 class="welcome-title">Contact <span class="titlebrand">Plenty of Felines</span></h2>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-offset-2 col-md-8 col-sm-12" style="text-align: center; height: 75px;">
    <ul class="inline-list social" style="margin-left: 0px">
      <li class="contactEmail">
        <a href="mailto:nitzellaw@gmail.com" target="_blank">
          <img src="img/email-icon.png">
        </a>
      </li>
      <li class="contactLI">
        <a href="https://www.linkedin.com/in/lorinitzel" target="_blank">
          <img src="img/linkedin.png"
        </a>
      </li>
      <li class="contactGithub">
        <a href="https://github.com/LoriNitzel" target="_blank">
          <img src="img/github.png"
        </a>
      </li>
    </ul>
  </div>
</div> -->