    <div class="row" id="welcome-text">
      <div class="col-md-offset-2 col-md-8 col-sm-12">
        <h2 class="welcome-title">Welcome!</h2>
        <p class="welcome-text"><span class="microbrand">Plenty of Felines</span> is a matchmaking service for adoptable cats and the humans looking to give them forever homes. We match cats with people by looking specifically at cats' characteristics and needs and matching those with the information we obtain when users fill out our short questionnaire.</p>
        <p>Once you've filled out the questionnaire, we will give you a list of cats who we think could be your favorite new companions. All available cats are from the <a href="https://www.fccrsnc.org/" target="_blank">Fort Collins Cat Rescue</a>, and you can visit your matches at their facility on E. Mulberry.</p>
        <h1>Register as a User</h1>
        <p>You will receive no emails at all from us, since this project is volunteer-run!</p>
      <div class="form-group">
        <form name="signupForm">
        <label>First Name</label>
        <input type="text" name="FirstName" required class="form-control" placeholder="First Name" id="FirstName" ng-model="JC.firstname">
        <label>Last Name</label>
        <input type="text" name="LastName" required class="form-control" placeholder="Last Name" id="LastName" ng-model="JC.lastname">
        <label>Password</label>
        <input type="text" name="Password" required class="form-control" placeholder="Password" id="Password" ng-model="JC.password">
        <label>Email Address</label>
        <p ng-show='signupForm.Password.$error.required && signupForm.Password.$touched'>
        Password is required.
        </p>
        <p ng-show='warmupForm.Password.$error.minlength && warmupForm.Password.$dirty'>
        Password needs to be between 5 - 15 characaters.
        </p>
        <input type="text" name="Email" required class="form-control" placeholder="Email" id="Email" ng-model="JC.email">
        <br>
        <button class="btn btn-default" ng-click="">Register!</button> 
        </form>
      </div>    
        <h2 id="thanks" style="text-align: center;">Thank you for adopting homeless cats!</h2>
      </div>
    </div>
