<!--  have normal background with header and footer with question modals in front -->
<div class="row">
  <div class="col-md-12 col-sm-12" style="text-align: center;">
  <h2 class="welcome-title"><span class="titlebrand">Plenty of Felines</span></h2>
    <h1>Questionnaire</h1>
    <a class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" style="margin-top: 30px;">Question 1</a>
  </div>
</div>

<!-- modal content here:  -->

   <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"  aria-label="Close" aria-hidden="true"><span aria-hidden="true"></span></button>
            <p><h4 class="modal-title" style="text-align: center;">Question 1</h4></p>
            <br>
            <p style="text-align: center;">Would you like a specifc gender?</p>

          </div>

          <div class="modal-body" style="margin-left: 150px;">
            <button type="button" class="btn btn-success" data-dismiss="modal">Male</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Female</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">I'd love either!</button>
        <!--   <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
          </div> -->
          </div>
        </div>
      </div>

    </div>